# Xcode
.DS_Store
/LoginModule/.DS_Store
/LoginModule/LoginModule.xcodeproj/project.xcworkspace/xcuserdata/
*.swp
/LoginModule/Podfile.lock
/LoginModule/LoginModule.xcodeproj/
/LoginModule/LoginModule.xcworkspace/
/LoginModule/Pods/
